html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
.bold {
  font-weight: bold;
}
.light {
  font-weight: lighter;
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
#scroller::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar {
  display: none;
}

/* HEADER */

:root {
  --menu-bg: #162033;
  --menu-color: #fff;
  --sfondo1: #415886;
  --sfondo2: #3b4f77;
  --sfondo3: #324469;
  --sfondo4: #283858;
  --sfondo5: #202f4e;
  --legendwidth: 120px; /* aggiunta variabile per la larghezza della legenda 
                        dato che è un valore fixed nell'ID leggenda*/
}

.header {
  background-color: var(--menu-bg);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 8vh;
  padding: 0 35px;
  border-bottom: solid 2px;
  border-image: linear-gradient(
      to right,
      white 40%,
      transparent 120%,
      transparent 100%
    )
    1;
}
.header__content {
  width: 92%;
  display: flex;
  justify-content: space-between;
  height: 8vh;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header__logo img {
  height: 30px;
  margin-right: 20px;
  fill: #0289ec;
}
.header__logo li {
  display: inline-block;
  color: var(--menu-color);
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding-top: 6px;
}

.header__logo:hover {
  color: #e63432;
}

.header__menu {
  padding: 0;
  margin: 0;
  display: flex;
}
.header__menu li {
  display: flex;
}
.header__menu li a {
  color: var(--menu-color);
  display: block;
  padding: 10px 40px 10px 10px;
  font-size: 15px;
  text-decoration: none;
}

/* #######LEGGENDA########## */
/* #######LEGGENDA########## */
/* #######LEGGENDA########## */
/* #######LEGGENDA########## */
/* #######LEGGENDA########## */
#leggenda {
  width: var(
    --legendwidth
  ); /*Nel :root sopra è dichiarata questa variabile, in caso modificare lì*/
  height: 100vh;
  background-color: var(--menu-bg);
  position: fixed;
  z-index: 9999;
  margin-top: 5vh;
}

/* ##### VARIABILI COLORI PERSONAGGI ###### */
:root {
  --luogo: #0289ec;
  --cobb: #cc00ff;
  --arthur: #f500bd;
  --arianna: #e20087;
  --mrsaito: #d0014b;
  --fischer: #e63432;
  --yusuf: #f0511e;
  --eames: #ff7902;
}
/* ######################################## */

/* Contenitore leggenda*/
.leggenda_title {
  padding: 72px 20px 0px;
}
.leggenda_title p {
  color: var(--menu-color);
  font-size: 12px;
  text-align: center;
}
.leggenda_content {
  color: var(--menu-color);
  font-size: 12px;
  text-align: center;
  position: fixed;
  top: 20vh;
  width: var(--legendwidth);
  height: 80vh;
  display: flex;
  flex-direction: column;
}
.leggenda_content p {
  hyphens: none;
}

.leggenda_levels {
  height: 16vh;
  width: var(--legendwidth);
  display: flex;
  flex-direction: column;
}

/* Contenuto livelli */
/* generale */

.leggenda_luogo {
  width: 70%;
  margin: 0 15% 0 15%;
  height: 13%;
  background-color: var(--luogo);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leggenda_luogo p {
  text-align: left;
  font-weight: bold;
  margin: 0;
  padding: 0 15% 0 15%;
}
.leggenda_spazio_luogo_personaggi {
  height: 5%;
}

.leggenda_spazio_personaggi {
  height: 1%;
}

.leggenda_personaggio {
  width: 70%;
  margin: 0 15% 0 15%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.leggenda_personaggio p {
  text-align: left;
  font-size: 11px;
  margin: 0;
  padding: 0 15% 0 15%;
}

/* .leggenda_spazio_finale {
  height: 6%; 
}
*/

/* LIVELLO 1 */
#cobb1 {
  background-color: var(--cobb);
}
#arthur1 {
  background-color: var(--arthur);
}
#arianna1 {
  background-color: var(--arianna);
}
#mrsaito1 {
  background-color: var(--mrsaito);
}
#fischer1 {
  background-color: var(--fischer);
}
#yusuf1 {
  background-color: var(--yusuf);
}
#eames1 {
  background-color: var(--eames);
}

/* LIVELLO 2 */
#cobb2 {
  background-color: var(--cobb);
}
#arthur2 {
  background-color: var(--arthur);
}
#arianna2 {
  background-color: var(--arianna);
}
#mrsaito2 {
  background-color: var(--mrsaito);
}
#fischer2 {
  background-color: var(--fischer);
}
#yusuf2 {
  background-color: var(--yusuf);
}
#eames2 {
  background-color: var(--eames);
}

/* LIVELLO 3 */
#cobb3 {
  background-color: var(--cobb);
}
#arthur3 {
  background-color: var(--arthur);
}
#arianna3 {
  background-color: var(--arianna);
}
#mrsaito3 {
  background-color: var(--mrsaito);
}
#fischer3 {
  background-color: var(--fischer);
}
#yusuf3 {
  /* non c'è */
}
#eames3 {
  background-color: var(--eames);
}

/* LIVELLO 4 */
#cobb4 {
  background-color: var(--cobb);
}
#arthur4 {
  /* non c'è */
}
#arianna4 {
  background-color: var(--arianna);
}
#mrsaito4 {
  background-color: var(--mrsaito);
}
#fischer4 {
  background-color: var(--fischer);
}
#yusuf4 {
  /* non c'è */
}
#eames4 {
  background-color: var(--eames);
}

/* LIVELLO 5 - LIMBO */
#cobb5 {
  background-color: var(--cobb);
}
#arthur5 {
  /* non c'è */
}
#arianna5 {
  background-color: var(--arianna);
}
#mrsaito5 {
  background-color: var(--mrsaito);
}
#fischer5 {
  background-color: var(--fischer);
}
#yusuf5 {
  /* non c'è */
}
#eames5 {
  /* non c'è */
}

/* LINEA SEGNAPOSTO */

.keyLine {
  z-index: 99999999999999;
  position: fixed;
  height: 80vh;
  bottom: 0;
  width: 4px;
  left: calc(500px - 2px);
  background-color: #fff;
}

/* VISUALIZZAZIONE */

#scroller {
  overflow-x: hidden;
  /* height: 92vh;
  bottom: 0;
  left: 0;
  background-color: rgb(138, 138, 138);
  position: fixed; */
}

.sfondo {
  display: flex;
  width: 491.5vh;
}
section {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 92vh;
}

/* ----------- NUMERI ------------ */
/* ----------- NUMERI ------------ */
/* ----------- NUMERI ------------ */

.numbers {
  position: fixed;
  height: 12vh;
  background-color: var(--menu-bg);
  width: 15562px;
  padding-left: 475px;
  z-index: 9;
  top: 8vh;
}
#numbers_content {
  padding-top: 7vh;
  color: var(--menu-color);
  font-size: 18px;
  font-weight: lighter;
  display: flex;
}

.number {
  display: flex;
  justify-content: center;
  width: 50px;
  margin-right: 50px;
  /* margin: 0 40px 0 40px; */
}

/* -------------------- INFORMAZIONI AGGIUNTIVE SOPRA I NUMERI ------------------ */
/* -------------------- INFORMAZIONI AGGIUNTIVE SOPRA I NUMERI ------------------ */
/* -------------------- INFORMAZIONI AGGIUNTIVE SOPRA I NUMERI ------------------ */

.info {
  z-index: 99999999999999999;
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-top: 10.5vh;
  width: 300px;
}

@media (max-height: 810px) {
  .info {
    display: none;
  }
}

.infoTesto {
  margin-left: 22px;
  padding-left: 12px;
  border-left: 2px solid black;
  border-image: linear-gradient(
      to top,
      white 40%,
      transparent 120%,
      transparent 100%
    )
    1;
}

.infoTesto p {
  vertical-align: top;
  margin: 0 0 10px 0;
  color: #fff;
  font-size: small;
}

.infoCerchio {
  width: 40px; /* Imposta la larghezza della circonferenza */
  height: 40px; /* Imposta l'altezza della circonferenza */
  border-radius: 50%; /* Crea una circonferenza impostando il 50% di border-radius */
  border: 2px solid white; /* Aggiunge un bordo di 2px di spessore */
}

/* -------------------- SLIDER ------------------ */
/* -------------------- SLIDER ------------------ */
/* -------------------- SLIDER ------------------ */

#container {
  position: fixed;
  bottom: 0;
  background-color: lightgray;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 80vh;
  top: 20vh;
}

.module {
  height: 80vh;
  display: flex;
  align-items: center;
}

.zero {
  width: 500px;
  background-color: var(--menu-bg);
}

.one,
.blocco1 {
  width: 200px;
  z-index: 1;
  /*   background-color: darkcyan;
 */
}

.two,
.blocco2 {
  width: 800px;
  /*   background-color: brown;
 */
  z-index: 2;
}

.three,
.blocco3 {
  width: 400px;
  /*   background-color: purple;
 */
  z-index: 3;
}

.four,
.blocco4 {
  width: 1300px;
  /*   background-color: purple;
 */
  z-index: 4;
}

.five,
.blocco5 {
  width: 600px;
  /*   background-color: blue;
 */
  z-index: 5;
}

.six,
.blocco6 {
  width: 2100px;
  /*   background-color: red;
 */
  z-index: 6;
}

.seven,
.blocco7 {
  width: 600px;
  /*   background-color: cyan;
 */
  z-index: 7;
}

.eight,
.blocco8 {
  width: 400px;
  /*   background-color: red;
 */
  z-index: 8;
}

.nine,
.blocco9 {
  width: 2100px;
  /*   background-color: mediumseagreen;
 */
  z-index: 9;
}

.ten,
.blocco10 {
  width: 1300px;
  /*   background-color: salmon;
 */
  z-index: 10;
}

.eleven,
.blocco11 {
  width: 1700px;
  /*   background-color: sandybrown;
 */
  z-index: 11;
}

.twelve,
.blocco12 {
  width: 1099px;
  /*   background-color: burlywood;
 */
  z-index: 12;
}

.thirteen,
.blocco13 {
  width: 600px;
  /*   background-color: slateblue;
 */
  z-index: 13;
}

.fourteen,
.blocco14 {
  width: 200px;
  /*   background-color: teal;
 */
  z-index: 14;
}

.fifthteen,
.blocco15 {
  width: 300px;
  /*   background-color: forestgreen;
 */
  z-index: 15;
}

.sixteen,
.blocco16 {
  width: 500px;
  /*   background-color: burlywood;
 */
  z-index: 16;
}

.sfondi {
  position: absolute;
  width: 2100px;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.sfondo1 {
  height: 16vh;
  width: 100%;
  background-color: var(--sfondo1);
}
.sfondo2 {
  height: 16vh;
  width: 100%;
  background-color: var(--sfondo2);
}
.sfondo3 {
  height: 16vh;
  width: 100%;
  background-color: var(--sfondo3);
}
.sfondo4 {
  height: 16vh;
  width: 100%;
  background-color: var(--sfondo4);
}
.sfondo5 {
  height: 16vh;
  width: 100%;
  background-color: var(--sfondo5);
}

.livelli {
  z-index: 9;
  position: fixed;
  /* height: 80vh; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* overflow: hidden; */
}

.contenitore {
  display: flex;
  flex-direction: row;
}

.line {
  height: 16vh; /* Altezza singola linea di un singolo livello */
}

.group1 {
  width: 1px;
  background-color: white; /* Colore della linea */
  margin-right: 1599px; /* Distanza tra le linee del primo gruppo */
  opacity: 0.8;
}

.group2 {
  width: 1px;
  background-color: white; /* Colore della linea del secondo gruppo */
  margin-right: 799px; /* Distanza tra le linee del secondo gruppo */
  opacity: 0.8;
}

.group3 {
  width: 1px;
  background-color: white; /* Colore della linea del secondo gruppo */
  margin-right: 399px; /* Distanza tra le linee del secondo gruppo */
  opacity: 0.8;
}

.group4 {
  width: 1px;
  background-color: white; /* Colore della linea del secondo gruppo */
  margin-right: 199px; /* Distanza tra le linee del secondo gruppo */
  opacity: 0.8;
}

.group5 {
  width: 2px;
  background-color: white; /* Colore della linea del secondo gruppo */
  margin-right: 98px; /* Distanza tra le linee del secondo gruppo */
}

.group6 {
  width: 1px;
  background-color: white; /* Colore della linea del secondo gruppo */
  margin-right: 49px; /* Distanza tra le linee del secondo gruppo */
  opacity: 0.8;
}

.group7 {
  width: 1px;
  background-color: white; /* Colore della linea del secondo gruppo */
  margin-right: 24px; /* Distanza tra le linee del secondo gruppo */
  opacity: 0.6;
}

.group8 {
  width: 1px;
  background-color: white; /* Colore della linea del secondo gruppo */
  margin-right: 11.5px; /* Distanza tra le linee del secondo gruppo */
  opacity: 0.4;
}

.group9 {
  width: 1px;
  background-color: white; /* Colore della linea del secondo gruppo */
  margin-right: 5.25px; /* Distanza tra le linee del secondo gruppo */
  opacity: 0.4;
}

.personaggi {
  position: fixed;
  top: 20vh;
  height: 80vh;
  width: 100%;
  margin-left: 500px;
  z-index: 999999999;
}
.personaggi img {
  width: 14200px;
  height: 75.3vh;
}
