/* Color Variables */
:root {
    --bg: #202f4e;
  }

  /*html {font-family: "Roboto", sans-serif;line-height: 1;font-size: 16px;box-sizing: border-box;margin: 0;padding: 0;height: 100%;scroll-behavior: smooth;}

/* Reset default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    color: #fff;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

/* Page background color */
body{ background-color: var(--bg);}

/* Style title first page */
#TitoloInizioBox {
    width: 100vw; height: 100vh; position: relative; text-align: center; 
}
#TitoloInizioTesto{
    font-size: 13vh;
    font-weight: bold;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
}
#sottotitolo{
    font-size: 3vh;
    position: absolute; top: 65%; left: 50%; transform: translate(-50%, -50%);
}