html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Gotham, Arial, Helvetica, sans-serif;
  width: 100%;
 background-color: #162033;
}

:root {
  --menu-bg: #162033;
  --menu-color: #fff;
  --sfondo1: #415886;
  --sfondo2: #3b4f77;
  --sfondo3: #324469;
  --sfondo4: #283858;
  --sfondo5: #202f4e;

}

#scrollerIntro {
  overflow-x: hidden;
}

.sfondoIntro {
  display: flex;
  width: 600vw; /* cambia la larghezza in base al numero di sezioni, 3 sezioni 300vw e così via */
}

section {
  width: 100%;
  height: 100vh;
  /* background-color: var(--menu-bg); */
}

.inner {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: end;
}

.content {
  height: 100%;
  width: 100%;
}

.titolo {
  font-size: 100px;
  font-weight: bold;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.paragrafo {
  height: 100%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.paragrafo p {
  width: 60%;
  text-align: center;
  color: #fff;
}

/* livelli background con spazio */
.livelli {
  height: 80vh;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
}

.livello {
  position: relative;
  height: 16vh;
  background-color: #415886;
}

.color1 {
  background-color: var(--sfondo1);
}
.color2 {
  background-color: var(--sfondo2);
  margin-left: 100px;
}
.color3 {
  background-color: var(--sfondo3);
  margin-left: 200px;
}
.color4 {
  background-color: var(--sfondo4);
  margin-left: 300px;
}
.color5 {
  background-color: var(--sfondo5);
  margin-left: 400px;
}

/* livelli background no spazio */
.livellinospace {
  height: 80vh;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
}

.livello {
  position: relative;
  height: 16vh;
  background-color: #415886;
}

.color1ns {
  background-color: var(--sfondo1);
}
.color2ns {
  background-color: var(--sfondo2);

}
.color3ns {
  background-color: var(--sfondo3);

}
.color4ns {
  background-color: var(--sfondo4);

}
.color5ns {
  background-color: var(--sfondo5);

}


.livello p {
  font-size: 40px;
  font-weight: 500;
  margin-left: 50px;
  color: #fff;
}