/* Color Variables */
:root {
  --bg: #202f4e;
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
body::-webkit-scrollbar {
  display: none;
}

html {
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

/* Reset default styles */
body,
h1,
p {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #fff;
  margin: 0;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

/* Page background color */
body {
  background-color: var(--bg);
}

/* Style title first page */
#Schermata1 {
  width: 100vw;
  height: 100vh;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#TitoloInizioTesto {
  font-size: 13vh;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#sottotitolo {
  font-size: 3vh;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#Schermata2 {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#scritte2box {
  width: 40vw;
}

.titoloschermata {
  font-size: 4vh;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 10px;
}

#Schermata3 {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#scritte3box {
  width: 40vw;
}

/* ######### HERE COMES THE FUN PART ########### */
#megaSVG {
  width: 10000px;
  height: 100vh;
  background-image: linear-gradient(
    to right,
    blueviolet,
    rgb(43, 110, 226)
  ); /* l'ho messo solo per vedere se scorre*/
  position: relative;
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling for the plot container */
  overflow-y: hidden;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 10000px;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.outer_wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
}
::-webkit-scrollbar {
  display: none;
}

.livelli {
  width: 100%;
}
